<a href="https://colab.research.google.com/github/Satyendra0207/BCG-Gamma/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 34 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 61.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=ab43eb5008f685ce681a149b54efd9d4702689bbeff03894e13cba0311525d12
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [1]:
from pyspark import SparkConf,SparkContext

ModuleNotFoundError: ignored

In [ ]:
if __name__=="__main__":
  conf=SparkConf().setAppName('Assignment').setMaster("local")
  sc=SparkContext(conf=conf)

In [ ]:
df=sc.textFile("automobile_data.csv")

In [ ]:
df.take(5)

['make,fuel_type,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,curb_weight,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,city_mpg,highway_mpg,price',
 'alfa-romero,gas,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,9,111,21,27,13495',
 'alfa-romero,gas,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,9,111,21,27,16500',
 'alfa-romero,gas,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,9,154,19,26,16500',
 'audi,gas,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,70,102,24,30,13950']

In [ ]:
header=df.first()
print(header)

make,fuel_type,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,curb_weight,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,city_mpg,highway_mpg,price

In [ ]:
df.countByValue()

In [ ]:
newdf=df.map(lambda x:x.replace(r"^[a-zA-Z]\x+",""))

In [ ]:
newdf1=newdf.filter(lambda x:x!=header)

In [ ]:
newdf1.take(4)

['alfa-romero,gas,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,9,111,21,27,13495',
 'alfa-romero,gas,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,9,111,21,27,16500',
 'alfa-romero,gas,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,9,154,19,26,16500',
 'audi,gas,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,70,102,24,30,13950']

In [ ]:
newdf.countByValue()

In [ ]:
first=newdf.flatMap(lambda x:x.split(" "))
first.collect()

In [ ]:
#finding particular how many make types are their in data 
make=newdf.map(lambda x:x.split(",")[0])
distinct_make=make.distinct()

In [ ]:
distinct_make.collect()

['make',
 'alfa-romero',
 'audi',
 'bmw',
 'chevrolet',
 'dodge',
 'honda',
 'isuzu',
 'jaguar',
 'mazda',
 'mercedes-benz',
 'mercury',
 'mitsubishi',
 'nissan',
 'peugot',
 'plymouth',
 'porsche',
 'saab',
 'subaru',
 'toyota',
 'volkswagen',
 'volvo']

In [ ]:
body_type=newdf.map(lambda x:x.split(",")[4])
distinct_type=body_type.distinct()

In [ ]:
distinct_type.collect()

['drive_wheels', 'rwd', 'fwd', '4wd ', '4wd']

In [ ]:
make.countByValue()

In [ ]:
def company_price(newdata):
  company=newdata.split(",")[0]
  #max=company.filter()
  fuel=newdata.split(",")[1]
  engine_type=newdata.split(",")[11]
  price=newdata.split(",")[19]

  return  company+"        " + price +"      " + fuel +"     " +engine_type

In [ ]:
data=newdf.map(company_price)

In [ ]:
data.take(4)

In [ ]:
gas=data.filter(lambda x:"gas" in x)

In [ ]:
gas.count()

In [ ]:
diesel=data.filter(lambda x:"diesel"in x)

In [ ]:
diesel.count()

In [ ]:
diesel.collect()

In [ ]:
engine_dohc=data.filter(lambda x:"dohc" in x)
engine_dohc.collect()

In [ ]:
newdata=newdf.filter(lambda x:"toyota" in x)

In [ ]:
newdata.collect()

In [ ]:
def door (dataf):
  company=dataf.filter(lambda x:"toyota" in x)
  doors =dataf.flatmap(lambda x:"four")
  return company + doors

In [ ]:
df2=newdata.map(door)

In [ ]:
df2.collect()